<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ETH</key>
	<dict>
		<key>chainType</key>
		<integer>0</integer>
		<key>chainId</key>
		<string>2</string>
		<key>chainName</key>
		<string>ETH</string>
		<key>chainSmallIcon</key>
		<string>/blockchain_icon/eth_icon.png</string>
		<key>chainIcon</key>
		<string>/blockchain_icon/eth.png</string>
	</dict>
	<key>BTC</key>
	<dict>
		<key>chainType</key>
		<integer>1</integer>
		<key>chainId</key>
		<string>1</string>
		<key>chainName</key>
		<string>BTC</string>
		<key>chainSmallIcon</key>
		<string>/blockchain_icon/btc_icon.png</string>
		<key>chainIcon</key>
		<string>/blockchain_icon/btc.png</string>
	</dict>
	<key>EOS</key>
	<dict>
		<key>chainType</key>
		<integer>2</integer>
		<key>chainId</key>
		<string>3</string>
		<key>chainName</key>
		<string>EOS</string>
		<key>chainSmallIcon</key>
		<string>/blockchain_icon/eos_icon.png</string>
		<key>chainIcon</key>
		<string>/blockchain_icon/eos.png</string>
	</dict>
	<key>PWR</key>
	<dict>
		<key>chainType</key>
		<integer>3</integer>
		<key>chainId</key>
		<string>4</string>
		<key>chainName</key>
		<string>PWR</string>
		<key>chainSmallIcon</key>
		<string>/blockchain_icon/pwr_icon.png</string>
		<key>chainIcon</key>
		<string>/blockchain_icon/pwr.png</string>
	</dict>
	<key>EOSTEST</key>
	<dict>
		<key>chainType</key>
		<integer>4</integer>
		<key>chainId</key>
		<string>5</string>
		<key>chainName</key>
		<string>EOSTEST</string>
		<key>chainSmallIcon</key>
		<string>/blockchain_icon/eos_icon.png</string>
		<key>chainIcon</key>
		<string>/blockchain_icon/eos.png</string>
	</dict>
	<key>ETC</key>
	<dict>
		<key>chainType</key>
		<integer>5</integer>
		<key>chainId</key>
		<string>6</string>
		<key>chainName</key>
		<string>ETC</string>
		<key>chainSmallIcon</key>
		<string>/blockchain_icon/etc_icon.png</string>
		<key>chainIcon</key>
		<string>/blockchain_icon/etc.png</string>
	</dict>
	<key>BCH</key>
	<dict>
		<key>chainType</key>
		<integer>6</integer>
		<key>chainId</key>
		<string>7</string>
		<key>chainName</key>
		<string>BCH</string>
		<key>chainSmallIcon</key>
		<string>/blockchain_icon/bch_icon.png</string>
		<key>chainIcon</key>
		<string>/blockchain_icon/bch.png</string>
	</dict>
	<key>BTM</key>
	<dict>
		<key>chainType</key>
		<integer>7</integer>
		<key>chainId</key>
		<string>8</string>
		<key>chainName</key>
		<string>BTM</string>
		<key>chainSmallIcon</key>
		<string>/blockchain_icon/btm_icon.png</string>
		<key>chainIcon</key>
		<string>/blockchain_icon/btm.png</string>
	</dict>
	<key>LTC</key>
	<dict>
		<key>chainType</key>
		<integer>8</integer>
		<key>chainId</key>
		<string>9</string>
		<key>chainName</key>
		<string>LTC</string>
		<key>chainSmallIcon</key>
		<string>/blockchain_icon/ltc_icon.png</string>
		<key>chainIcon</key>
		<string>/blockchain_icon/ltc.png</string>
	</dict>
	<key>XRP</key>
	<dict>
		<key>chainType</key>
		<integer>9</integer>
		<key>chainId</key>
		<string>10</string>
		<key>chainName</key>
		<string>XRP</string>
		<key>chainSmallIcon</key>
		<string>/blockchain_icon/xrp_icon.png</string>
		<key>chainIcon</key>
		<string>/blockchain_icon/xrp.png</string>
	</dict>
	<key>GXM</key>
	<dict>
		<key>chainType</key>
		<integer>10</integer>
		<key>chainId</key>
		<string>11</string>
		<key>chainName</key>
		<string>GXM</string>
		<key>chainSmallIcon</key>
		<string>/blockchain_icon/gxm_icon.png</string>
		<key>chainIcon</key>
		<string>/blockchain_icon/gxm.png</string>
	</dict>
	<key>QTUM</key>
	<dict>
		<key>chainType</key>
		<integer>11</integer>
		<key>chainId</key>
		<string>12</string>
		<key>chainName</key>
		<string>QTUM</string>
		<key>chainSmallIcon</key>
		<string>/blockchain_icon/qtum_icon.png</string>
		<key>chainIcon</key>
		<string>/blockchain_icon/qtum.png</string>
	</dict>
	<key>ACT</key>
	<dict>
		<key>chainType</key>
		<integer>12</integer>
		<key>chainId</key>
		<string>13</string>
		<key>chainName</key>
		<string>ACT</string>
		<key>chainSmallIcon</key>
		<string>/blockchain_icon/act_icon.png</string>
		<key>chainIcon</key>
		<string>/blockchain_icon/act.png</string>
	</dict>
</dict>
</plist>
